
img {
	max-width: 100%;
}

figure {
	margin: 0;
}
.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.photo-list figure {
  width: calc(33.33% - 10px); 
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media only screen and (min-width: 50px) {
  body{
  background: rgba(0,255,0,.2);
  font-size: 1.72vw;
  margin-top: 8px;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 1090px;
  }
  
}
